{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_common_styles.css' %}">

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matchups</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
</head>
<body>
{#{{ user_list }}#}

{#{{ weekly_matchups }}#}

    <div class="wrapper">
        <div class="card_container flex_row">
            {% if weekly_matchups|length > 0 %}
                {% for matchup in weekly_matchups %}
                    <div class="matchup flex_row" data-team1-points="{{ matchup.teams.0.points }}"
                         data-team2-points="{{ matchup.teams.1.points }}">
                        <!-- Team 1 Info -->
                        <div class="team team-1 user_card flex_column">
                            <div class="card_header flex_row align_items_center justify_content_space_evenly" id="team1-header">
                                <div class="photo_container flex_row align_items_center justify_content_space_around">
                                    <div class="player_photo"
                                            {% if matchup.teams.0.avatar != null %}
                                         style="background-image: url('https://sleepercdn.com/avatars/{{ matchup.teams.0.avatar }}');"
                                            {% else %}
                                         style="background-image: url('{% static 'images/default_picture.jfif' %}');"
                                            {% endif %}>
                                    </div>
                                    <div class="team_name">
                                        <h4>{{ matchup.teams.0.team_name }}</h4>
                                    </div>
                                </div>
                                <div class="total_points">
                                    <p>Points: {{ matchup.teams.0.points }}</p>
                                </div>
                            </div>
                            <div class="player_container">
                                {% for player in matchup.teams.0.players %}
                                    <div class="player_row flex_row justify_content_space_between align_items_center padding_left_16px padding_right_16px padding_left_8px padding_right_8px">
                                        <div class="nfl_player_photo">
                                            {% if player.position != "DEF" %}
                                                <div class="nfl_player_photo"
                                                     style="background-image: url('https://sleepercdn.com/content/nfl/players/thumb/{{ player.player_id }}.jpg');"></div>
                                            {% elif player.position == "DEF" %}
                                                <div class="nfl_player_photo nfl_team_photo"
                                                     style="background-image: url('https://sleepercdn.com/images/team_logos/nfl/{{ player.full_name |lower }}.png'); background-position: center;"></div>
                                            {% endif %}
                                        </div>
                                        <div class="player_name">
                                            <div>{{ player.full_name }}</div>
                                        </div>
                                        <div class="player_points">
                                            <div>{{ player.points }}</div>
                                        </div>
                                        <div class="player_pos">
                                            <div>{{ player.position }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Team 2 Info -->
                        <div class="team team-2 user_card flex_column">
                            <div class="card_header flex_row align_items_center justify_content_space_evenly" id="team2-header">
                                <div class="photo_container flex_row align_items_center justify_content_space_around">
                                    <div class="player_photo"
                                            {% if matchup.teams.1.avatar != null %}
                                         style="background-image: url('https://sleepercdn.com/avatars/{{ matchup.teams.1.avatar }}');"

                                            {% endif %}>
                                    </div>
                                                            <div class="team_name">
                                    <h4>{{ matchup.teams.1.team_name }}</h4>
                                </div>
                                </div>
                                <div class="total_points">
                                    <p>Points: {{ matchup.teams.1.points }}</p>
                                </div>
                            </div>
                            <div class="player_container">
                                {% for player in matchup.teams.1.players %}
                                    <div class="player_row flex_row justify_content_space_between align_items_center padding_left_16px padding_right_16px padding_left_8px padding_right_8px">
                                        <div class="nfl_player_photo">
                                            {% if player.position != "DEF" %}
                                                <div class="nfl_player_photo"
                                                     style="background-image: url('https://sleepercdn.com/content/nfl/players/thumb/{{ player.player_id }}.jpg');"></div>
                                            {% elif player.position == "DEF" %}
                                                <div class="nfl_player_photo nfl_team_photo"
                                                     style="background-image: url('https://sleepercdn.com/images/team_logos/nfl/{{ player.full_name |lower }}.png'); background-position: center;"></div>
                                            {% endif %}
                                        </div>
                                        <div class="player_name">
                                            <div>{{ player.full_name }}</div>
                                        </div>
                                        <div class="player_points">
                                            <div>{{ player.points }}</div>
                                        </div>
                                        <div class="player_pos">
                                            <div>{{ player.position }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No matchups available.</p>
            {% endif %}
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        // Iterate through each matchup
        $('.matchup').each(function () {
            var team1Points = parseInt($(this).data('team1-points'));
            var team2Points = parseInt($(this).data('team2-points'));

            var team1Header = $(this).find('#team1-header');
            var team2Header = $(this).find('#team2-header');

            if (team1Points > team2Points) {
                team1Header.addClass('winner');
                team2Header.addClass('loser');
            } else if (team2Points > team1Points) {
                team1Header.addClass('loser');
                team2Header.addClass('winner');
            } else {
                team1Header.addClass('draw');
                team2Header.addClass('draw');
            }
        });

        $('.player_pos').each(function () {
            var position = $(this).text().trim();
            if (position === 'QB') {
                $(this).addClass('position_QB');
            } else if (position === 'RB') {
                $(this).addClass('position_RB');
            } else if (position === 'WR') {
                $(this).addClass('position_WR');
            } else if (position === 'TE') {
                $(this).addClass('position_TE');
            } else if (position === 'K') {
                $(this).addClass('position_kicker');
            } else if (position === 'DEF') {
                $(this).addClass('position_defense');
            } else if (position === 'NA') {
                $(this).addClass('no_position');
            }
        });
    });
</script>

</body>
</html>