{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_common_styles.css' %}">

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matchups</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
</head>
<body>
<h1>Hi</h1>


{{ weekly_matchups }}

<script type="text/javascript">
    $(document).ready(function () {
        // Iterate through each matchup
        $('.matchup').each(function () {
            var team1Points = parseInt($(this).data('team1-points'));
            var team2Points = parseInt($(this).data('team2-points'));

            var team1Header = $(this).find('#team1-header');
            var team2Header = $(this).find('#team2-header');

            if (team1Points > team2Points) {
                team1Header.addClass('winner');
                team2Header.addClass('loser');
            } else if (team2Points > team1Points) {
                team1Header.addClass('loser');
                team2Header.addClass('winner');
            } else {
                team1Header.addClass('draw');
                team2Header.addClass('draw');
            }
        });

        $('.player_pos').each(function () {
            var position = $(this).text().trim();
            if (position === 'QB') {
                $(this).addClass('position_QB');
            } else if (position === 'RB') {
                $(this).addClass('position_RB');
            } else if (position === 'WR') {
                $(this).addClass('position_WR');
            } else if (position === 'TE') {
                $(this).addClass('position_TE');
            } else if (position === 'K') {
                $(this).addClass('position_kicker');
            } else if (position === 'DEF') {
                $(this).addClass('position_defense');
            } else if (position === 'NA') {
                $(this).addClass('no_position');
            }
        });
    });
</script>

</body>
</html>