{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_common_styles.css' %}">


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="logo_container">
        <div class="logo_fantasy_name_container flex_column align_items_center">

            <div id="fantasy_logo" class="logo">

            </div>

            <div class="league_name flex_row">
                <h2>{{ league_name }}</h2>
            </div>


        </div>

    </div>
</div>
<div class="wrapper">
    <div class="card_container flex_row">
        {% for user in user_list %}
            <div class="user_card flex_column">

                <div class="card_header flex_row align_items_center justify_content_center ">
                    <div class="photo_container">
                        <div class="player_photo"
                             {% if user.avatar != null %}
                             style="background-image: url('https://sleepercdn.com/avatars/thumbs/{{ user.avatar }}');"
                            {% else %}
                             style="background-image: url('{% static 'images/default_picture.jfif'%}' );"
                            {% endif %}>
                        </div>
                    </div>


                    <div class="team_name">

                        {% if user.starters|length > 0 %}
                            {% if user.team_name and user.team_name != 'No Team Name' %}
                                <h3>{{ user.team_name }}</h3>
                            {% else %}
                                <h3>{{ user.display_name }}</h3>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

                <ul>
                    {% for player in user.starters %}
                        <li>{{ player.full_name }} - {{ player.position }}</li>
                    {% endfor %}
                </ul>


            </div>
        {% endfor %}


    </div>


</div>


</body>
</html>