{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_common_styles.css' %}">



<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="header">
    <h3>{{ league_name }}</h3>
</div>
{% for user in user_list %}
    {% if user.starters|length > 0 %}
    <h2>
        {% if user.team_name and user.team_name != 'No Team Name' %}
            {{ user.team_name }}
        {% else %}
            {{ user.display_name }}
        {% endif %}
    </h2>
    <ul>
        {% for player in user.starters %}
            <li>{{ player.full_name }} - {{ player.position }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}


</body>
</html>