body, .league_name {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(9, 162, 121);
}

.header {
    height: 25%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url('../images/vecteezy_superbowl-stadium-in-night-background_20324267.jpg');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center -420px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.logo_container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .71);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fantasy_logo {
    background-color: aqua;
    background-image: url("../images/congress_2024.webp");
    background-size: contain;
    height: 170px;
    width: 170px;
    border: #ffffff 2px solid;
    border-radius: 50%;
}

.player_photo {
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.photo_container {
    padding: 8px;
}

.league_name h2 {
    color: #ffffff;
    padding: 0 10px;
    text-shadow: 1px 1px 20px white;
}


.card_container {
    width: 90%;
    margin: 0 auto;
    /*background-color: beige;*/
    flex-wrap: wrap;
    justify-content: space-around;
}

.user_card {
    background-color: aliceblue;
    width: 300px;
    margin-top: 20px;
    height: 500px;
    box-shadow: 0px 0px 5px black;
}

.team_name {
    padding: 8px;
}


.flex_row {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align_items_center {
    align-items: center;
}

.max_width {
    width: max-content;
}

.min_width {
    width: min-content;
}

.background_black {
    background-color: black;
}

.margin_none {
    margin: 0;
}

.margin_top-8px {
    margin-top: 8px;
}

.margin_left-8px {
    margin-left: 8px;
}

.margin_right-8px {
    margin-right: 8px;
}

.margin_bottom-8px {
    margin-bottom: 8px;
}

.justify_content_center {
    justify-content: center;
}