<div class="header">
    <div class="logo_container">
        <div class="logo_fantasy_name_container flex_column align_items_center">
            <div id="fantasy_logo" class="logo">
            </div>
            <div class="league_name flex_row">
                <h2>{{ league_name }}</h2>
            </div>
        </div>
    </div>
    <div class="links">
        <ul class="flex_row justify_content_space_around">
            <li><a href="">Home</a></li>
            <li><a href="">Weekly Matchups</a></li>
            <li><a href="">Standings</a></li>
        </ul>
    </div>
</div>